.list_item {
  display: flex;
  align-items: center;
  padding: 6px;
  display: flex;
  list-style: none;
  border-bottom: 1px solid rgb(212 212 212);
  border-radius: 4px;
}

.description_wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

.description {
  padding-left: 12px;
  font-size: 12px;
  font-style: italic;
  color: #6b7280;
}
.price_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
.price_indicator {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14;
}
.price_indicator > span {
  font-size: 12px;
  font-style: italic;
  color: #6b7280;
}
.button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  min-width: 40px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: rgb(226 232 240);
  color: rgb(15 23 42);
  cursor: pointer;
}
.button:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  opacity: 0.8;
}
.button:disabled {
  opacity: 0.6;
  cursor: auto;
  box-shadow: unset;
}
