.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px;
  display: flex;
  list-style: none;
  border-bottom: 1px solid rgb(212 212 212);
  border-radius: 4px;
}

.description_wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

.description {
  padding-left: 12px;
  font-size: 12px;
  font-style: italic;
  color: #6b7280;
}
.price_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
.price_indicator {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14;
}
.price_indicator > span {
  font-size: 12px;
  font-style: italic;
  color: #6b7280;
}
