.wrapper {
  max-width: 1000px;
  min-width: 400px;
  padding: 10px;
  border: 1px solid rgb(212 212 212);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
.list {
  padding: 10px 0;
}
.divider_description {
  padding-top: 6px;
  color: #6b7280;
  font-style: italic;
  font-size: 18px;
}
