.wrapper {
  display: flex;
  flex-direction: column;
}
.price_summary_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}
.price_summary_wrapper--without-discount {
  font-size: 14px;
}
.list_wrapper {
  padding-left: 4px;
}
.list_item_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  font-style: italic;
}
.list_footer {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-top: 1px solid gray;
}
@media (min-width: 440px) {
  .wrapper {
    min-width: 400px;
  }
}
