.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
.price_summary_wrapper {
  padding: 8px 10px;
  border-top: 1px solid gray;
}
.list_wrapper {
  padding-left: 4px;
}
.list_item_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  font-style: italic;
}
.list_item_prop_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
}
.list_item_prop_wrapper--title {
  flex: 1;
}
.list_item_prop_label {
  font-size: 12px;
}
.list_item_delete_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: rgb(226 232 240);
  color: rgb(15 23 42);
  cursor: pointer;
}
.list_item_delete_button:hover {
  opacity: 0.7;
}
