.layout {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  padding: 0;
  margin: 0;
}

.product_wrapper {
  box-sizing: border-box;
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
