.layout {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  width: 100vh;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  padding: 0;
  margin: 0;
}
